body {
    font-size: 24px;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 2em;
}

p {
    padding: 20px;
}

.wonky {
    text-align: center;
    background-color: orange;
    border-radius: 50px;
    width: 30%;
    margin: 0 auto;
}

.wonky:hover {
    margin: 50px auto;
    overflow: hidden;
    transition: 0.5s ease;
    transform: rotate(-30deg);
}

.hover-rotate:hover {
    transform: rotate(15deg);
    transition: 0.5s ease;
}

.rotate-5 {
    margin-top: 20px;
    transform: rotate(-5deg);
}

.rotate-10 {
    margin-top: 100px;
    transform: rotate(10deg);
}

.days-left-box {
    border-radius: 20px;
    border: 5px black;
    border-style: dotted;
    max-width: 400px;
    margin: 0 auto;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.days-left-description {
    margin: 20px auto 10px auto;
    padding: 0px;
}

#days-left-counter {
    padding: 0px;
    margin: 10px auto 20px auto;
    font-size: 1.8em;
}
